</br>
</br>
<div class="bottom" style="bottom: 0%; position: relative;">
    <table>
        <tr>
            <td>
                <img src="https://miro.medium.com/max/715/1*8NaOAUmXNxVsC07xOUb2dA.jpeg" alt="ΔΙΑΥΓΕΙΑ" width="180">
            </td>
            <td>
                <img src="https://www.alogos.gr/images/stories/logos/psifiaki-ellada-logo.jpg" alt="ΨΗΦΙΑΚΗ ΕΛΛΑΔΑ" width="80">
            </td>
        </tr>
        </table>
            Με τη συγχρηματοδότηση της Ελλάδας και της Ευρωπαϊκής Ένωσης
</div>
